.container {
    flex-direction: column;
    max-width: 1440px;
}

.newsBody{
    display: flex;
}

.h2 {
    margin: 3rem 0 3rem 0;
    font-size: 1.6rem;
    text-decoration: underline 0.15rem var(--context-color);
    text-align: center;
    text-underline-offset: 0.2rem;
}

.productsContainer{
    margin:  0 0 1.4rem 0;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.button{
    background-color: var(--context-color);
    width: 12rem;
    margin: 0 0 1.4rem 0;
}