.container{
  flex-direction: column;
}

.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(32rem, auto);
}

.notFoundContainer{
  width: 80%;
  font-size: 1.2rem;
}

.notFound{
  margin: 0.8rem;
}

.paggingContainer{
  margin: 4rem 0 3rem 0;
}

@media (max-width: 1440px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: 1fr;
  }
}