.tr > td{
    padding: 0.25rem 0 0.25rem 0;
}

.addBasketBtn{
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    color:var(--green-color);
    font-size: 1.2rem;
    transition: .2s;
}

.addBasketBtn:hover{
    color: var(--black-color);
    transition: .2s;
}