.container{
    display: flex;
    background-color: var(--light-white-color);
    margin: 1rem 0 0 0;
    padding: 1rem;
}

.image{
    max-height: 20rem;
    max-width: 20rem;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.detailContainer{
    width: 100%;
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
}

.ul > li{
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0;
}

.priceContainer{
    display: flex;
    justify-content: space-between;
}

.oldPrice{
    margin: 0 0 0 0.35rem;
    font-size: 1rem;
    text-decoration: line-through;
}

.newPrice{
    color: var(--red-color);
    font-size: 1.4rem;
}

.detailFooter{
    margin-top: auto;
}

.down{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.down:hover{
    text-shadow: 1px 1px 15px var(--black-color);
    transition: .2s;
}

.up{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.up:hover{
    transition: .2s;
    text-shadow: 1px 1px 15px var(--black-color);
}

.countContainer{
    margin: 0 1rem 0 1rem;
}

.buyButton{
    background: none;
    border: none;
    font-size: 1.4rem;
    color:var(--green-color);
    text-decoration: underline;
    transition: .2s;
}

.buyButton:hover{
    cursor: pointer;
    color: var(--black-color);
    transition: .2s;
}