.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300; 
    position: relative;
    margin: 0 1rem 0 1rem;
    padding: 0.5rem 0 0.5rem 0;
    max-width: 1000px;
}

.logoContainer {
    display: flex;
    flex: 1; 
}

.logoText {
    position: absolute;
    color: var(--white-color);
    font-size: 1.8rem;
    margin-top: 0.25rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--black-color);
}