.detailContainer{
    margin: 0 1rem 0 1rem;
    width: 100%;
}

.image{
    height: 4rem;
    width: 4rem;
    border-radius: 0.2rem;
}

.table{
    width: 100%;
}

.trash{
    color: var(--red-color);
    height: 1.5rem;
    width: 1.5rem;
}

.removeBasketBtn{
    display: flex;
    align-items: center;
    border: none;
    background: none!important;
    font-size: 1.5rem;
}

.removeBasketBtn:hover{
    cursor: pointer;
    background-color: var(--black-color);
}

.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table td{
    padding: 1rem 0 1rem 0;
    /* border: 0.1rem solid var(--red-color); */
}

.table th {
    padding: 0 0 1rem 0;
}

.li{
    border-radius: 1rem;
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
}

.td{
    font-weight: 500;
}