.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerItem{
    margin: 0 0 0 0.25rem;
}

.headerText{
    color: var(--dark-white-color);
}

.headerCount{
    color:var(--black-color);
}