.thead{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--dark-default-color);
    min-height: 4rem;
}

.tbody{
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tr > th{
    padding: 1rem 0 1rem 0;
    font-size: 1.3rem;
}

.h2{
    margin: 1rem;
    font-size: 1.5rem;
}

.noBasketProducts{
    font-size: 1.4rem;
    text-align: center;
    text-decoration: underline;
}