.thead{
    background-color: var(--light-white-color);
}

.tbody{
    font-size: 1.1rem;
}

.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tr > th{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.3rem;
}