.container {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hr {
    display: none;
}

.newsItem {
    position: relative;
    min-height: auto;
    min-width: auto;
    padding: 0;
    max-height: 30rem;
    height: 100%;
}

.img {
    box-shadow: 0 0.125rem 0.5rem 0 rgba(2, 2, 2, 0.555), 0 0.125rem 2rem 0 rgba(0, 0, 0, 0.034);
    border-radius: 0.7rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.loading {
    padding: 5rem;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(2, 2, 2, 0.555), 0 0.125rem 2rem 0 rgba(0, 0, 0, 0.034);
    border-radius: 0.7rem;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #f0f0f0;
}

.deleteBtn {
    position: absolute;
    color: var(--red-color);
    font-size: 1.4rem;
    background: none;
    border: none;
    text-shadow: 1px 1px 15px var(--black-color);
    z-index: 1;
    top: 0.5rem;
    right: 1.4rem;
}

.deleteBtn:hover {
    cursor: pointer;
    transition: 0.2s;
}

.deleteBtn::after {
    content: '';
    position: absolute;
    left: 4px;
    bottom: 0;
    height: 2px;
    width: 90%;
    background-color: var(--red-color);
    transform: scaleX(0); 
    transition: 0.2s;
}

.deleteBtn:hover::after {
    transform: scaleX(1);
    color: var(--red-color);
}