:root{
    --white-color: #fff;
    --red-color: #e30017;
    --black-color: #1a1a1a;
    --light-white-color:#e3e3e3;
    --dark-white-color: #949494;
    --dark-color: #585858;
    --super-light-white-color: #f2f2f2;
    --green-color: #00940f;
}