:root{
    --white-color: #fff;
    --pink-color:#ffe8ea;
    --light-red-color: #f50018;
    --red-color: #e30017;
    --dark-red-color: #b30000;
    --black-color: #1a1a1a;
    --light-white-color:#e3e3e3;
    --dark-white-color: #949494;
    --dark-color: #585858;
    --super-light-white-color: #f2f2f2;
    --green-color: #00940f;
    --light-green-color: #4cd95a;
    --orange-color: #ffa600;
    --violet-color:#4b00ed;
}

/*
    --white-color: #fff;
    --pink-color:#ffe8ea;
    --light-red-color: #f50018;
    --red-color: #e30017;
    --dark-red-color: #b30000;
    --black-color: #1a1a1a;
    --light-white-color:#e3e3e3;
    --dark-white-color: #949494;
    --dark-color: #585858;
    --super-light-white-color: #f2f2f2;
    --green-color: #00940f;
    --light-green-color: #4cd95a;
    --orange-color: #ffa600;
    --violet-color:#4b00ed;