:root{
    --green-color: #00940f;
    --light-green-color: #4cd95a;
    --orange-color: #ffa600;
    --violet-color:#4b00ed;
    --light-red-color: #a00111;
    --card-border-color: #636363;

    --context-color: #c00013;
    --light-default-color: #f2f2f2;
    --default-color: #fff;
    --dark-default-color: #e3e3e3;
    --text-color: #1a1a1a;
    --light-text-color: #333;
    --shadow-color: #333;
}


/*
dark theme
:root{
    --green-color: #00940f;
    --light-green-color: #4cd95a;
    --orange-color: #ffa600;
    --violet-color:#4b00ed;
    --light-red-color: #f50018;
    --card-border-color: #636363;
    
    --context-color: #e30017;
    --light-default-color: #333; 
    --default-color: #1a1a1a;
    --dark-default-color: #e3e3e3;
    --text-color: #fff;
    --light-text-color: #ccc;
}
*/