html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 700!important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-body {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(180deg, var(--white-color) 0%, var(--light-white-color) 100%);
}

a {
  color: var(--dark-grey-color);
  text-decoration: none;
}