.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 84rem;
}

.header{
    border-bottom: solid var(--red-color) 2px;
    padding: 0 0 1rem 0;
}

.modalContent {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 20;
}

.down{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.down:hover{
    text-shadow: 1px 1px 15px var(--black-color);
    transition: .2s;
}

.up{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.up:hover{
    transition: .2s;
    text-shadow: 1px 1px 15px var(--black-color);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.detailContainer{
    display: flex;
    padding: 1rem;
}

.image{
    height: 24rem;
    width: 24rem;
}

.imageContainer{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.ul > li{
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0;
    text-wrap: wrap;
}

.detailFooter{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.detailData{
    text-align: start;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 24rem;
    flex-grow: 1;
}

.priceContainer{
    display: flex;
    justify-content: space-between;
}

.oldPrice{
    margin: 0 0 0 0.35rem;
    font-size: 1rem;
    text-decoration: line-through;
}

.newPrice{
    margin: 0 0 0 0.5rem;
    color: var(--red-color);
    font-size: 1.4rem;
}

.updateButton{
    background-color: var(--green-color)!important;
    width: 12rem!important;
}