.container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: .2s;
    margin: 0 0.125rem 0 0.125rem;
    padding: 0.125rem 0.2rem 0.125rem 0.2rem;
    border-radius: 0.4rem;
    height: 2.5rem;
}

.authBtn{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.container:hover{
    box-shadow: 0px 0px 0.4rem var(--dark-color);
    transition: .2s;
}