.container{
    background-color: var(--dark-default-color);
    margin: 1rem 0 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.h1{
    font-size: 1rem;
}

.sidebarItem{
    margin: 0.5rem 0 0.5rem 0;
}