.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personText{
    color: var(--dark-white-color);
}

.personPrice{
    color:var(--black-color);
}

.personData{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}