.tr > td{
    padding: 0.55rem 0 0.55rem 0;
}

.removeBasketBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    color:var(--red-color);
    font-size: 1.2rem;
    transition: .2s;
}

.trashContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash{
    height: 1.5rem;
    width: 1.5rem;
}

.removeBasketBtn:hover{
    color: var(--black-color);
    transition: .2s;
}

.oldPrice{
    margin: 0 0 0 0.35rem;
    font-size: 0.9rem;
    text-decoration: line-through;
}

.newPrice{
    color: var(--red-color);
}

.down{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.down:hover{
    text-shadow: 1px 1px 15px var(--black-color);
    transition: .2s;
}

.up{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.up:hover{
    transition: .2s;
    text-shadow: 1px 1px 15px var(--black-color);
}

.countInput{
    text-align: center;
    font-size: 1rem;
    flex-direction: row;
    background: none;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}