.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 15px var(--text-color);
    color: var(--dark-default-color);
    margin: 0 0.8rem 0 0.8rem;
}

.headerItem{
    margin: 0 0 0 0.25rem;
}

.headerItem:hover{
    text-decoration: underline 1px;
    cursor: pointer;
}

.text{
    text-wrap: nowrap;
}