.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 1440px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 4rem 0rem;
}

.h2{
    margin: 3rem 0 3rem 0;
    font-size: 2rem;
    text-decoration: underline 0.15rem var(--context-color);
    text-align: center;
    text-underline-offset: 0.2rem;
    flex-shrink: 0;
}

.tr > th{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.3rem;
}

.productsContainer{
    min-width: 100%;
    display: flex;
    margin: 0 0 1rem 0;
}

.sideBarContainer{
    width: 20%;
}

.scrollBtn{
    background-color: var(--context-color);
    width: 12rem;
    margin: 0 0 1rem 0;
}