.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700!important;
    text-shadow: 1px 1px 15px var(--black-color);
    color: var(--light-white-color);
    margin: 0 0.8rem 0 0.8rem;
}

.headerItem{
    margin: 0 0 0 0.25rem;
}

.headerItem:hover{
    text-decoration: underline 1px;
    cursor: pointer;
}

.text{
    text-wrap: nowrap;
}