.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
    box-shadow: 0px 0px 0.4rem var(--shadow-color);
    background-color: var(--default-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
}

.h2{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    text-decoration: underline 0.15rem var(--context-color);
    text-underline-offset: 0.2rem;
}

.h3{
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline 0.15rem var(--context-color);
    text-underline-offset: 0.2rem;
}

.headerProduct{
    display: flex;
    margin: 1rem 0 0 0;
    padding: 1rem;
}

.image{
    max-height: 20rem;
    max-width: 20rem;
    border-radius: 0.5rem;
}

.imageContainer{
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productContainer{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.ul > li{
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0;
}

.priceContainer{
    display: flex;
    justify-content: space-between;
}

.oldPrice{
    margin: 0 0 0 0.35rem;
    font-size: 1rem;
    text-decoration: line-through;
}

.newPrice{
    margin: 0 0 0 0.5rem;
    color: var(--context-color);
    font-size: 1.4rem;
}

.productFooter{
    display: flex;
    justify-content: space-between;
    margin: 4rem 2rem 0.5rem 2rem;
}

.down{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.down:hover{
    text-shadow: 1px 1px 15px var(--text-color);
    transition: .2s;
}

.up{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.up:hover{
    transition: .2s;
    text-shadow: 1px 1px 15px var(--text-color);
}

.countContainer{
    margin: 0 1rem 0 1rem;
    display: flex;
}

.buyButton{
    background: none;
    border: none;
    font-size: 1.4rem;
    color:var(--green-color);
    text-decoration: underline;
    transition: .2s;
}

.buyButton:hover{
    cursor: pointer;
    color: var(--text-color);
    transition: .2s;
}

.rightBar{
    position: absolute;
    right: 0;
    top: 10rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.productAttributes{
    margin: 3rem 0 0 0;
    padding: 0 2rem;
}