.tr > td{
    padding: 0.55rem 0.2rem 0.55rem 0.2rem;
    white-space: nowrap;
    max-width: 18rem;
    margin: 1rem 0 1rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tr > th{
    padding: 0 1rem 0 1rem;
}

.addBasketBtn{
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    color:var(--green-color);
    font-size: 1.2rem;
    transition: .2s;
}

.addBasketBtn:hover{
    color: var(--text-color);
    transition: .2s;
}

.button{
    font-size: 1.2rem;
    font-weight: 600;
    background: none;
    border: none;
    transition: .2s;
    text-decoration: underline;
}

.button:hover{
    color:var(--context-color);
    cursor: pointer;
    transition: .2s;
}

.oldPrice{
    margin: 0 0 0 0.35rem;
    font-size: 0.9rem;
    text-decoration: line-through;
}

.newPrice{
    color: var(--context-color);
}

.defaultPrice{
    color: var(--text-color);
}

.down{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.down:hover{
    text-shadow: 1px 1px 15px var(--text-color);
    transition: .2s;
}

.up{
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.up:hover{
    transition: .2s;
    text-shadow: 1px 1px 15px var(--text-color);
}

.countInput{
    text-align: center;
    font-size: 1rem;
    flex-direction: row;
    background: none;
    border: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}