.container {
    flex-direction: column;
    flex-grow: 1;
}

.header{
    display: flex;
    justify-content: center;
    margin: 2rem 12rem 2rem 12rem;
}

.newsBody{
    display: flex;
}

.titleContainer {
    width: 100%;
    position: relative;
    text-align: center;
}

.h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}