.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-white-color);
    min-height: 4rem;
}

.button{
    font-family: sans-serif;
    font-weight: 700!important;
    background-color: var(--red-color)!important;
    margin: 1rem 4rem!important;
    width: 12rem!important;
}

.priceContainer{
    font-size: 1.2rem;
    margin: 0 5rem 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footerItem{
    width: 74%;
}

.footerPrice{
    width: 26%;
}

.p{
    margin: 0 0 0 0;
}

.loading{
    max-height: 1rem;
    margin: 0.2rem 0 0 0;
    background-color: var(--red-color);
}